.github-search {
    font-family: Monaco;
    font-size: 60px;
    color: #000000;;
}

.github-search .text-style-1 {
    font-family: Raleway;
    font-weight: 200;
    font-style: italic;
}

.search-input {
    width: 70rem;
    height: 5rem;
    background-color: var(--white);
}

button {
    width: 10rem;
    height: 5.7rem;
    border-radius: 2px;
    border: none;
    background-color: var(--color-purple);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#text{
    margin-left: 18rem;
}