@font-face {
    font-family: 'Monaco';
    src: local('Monaco'), url(../../assets/fonts/Monaco.ttf) format('ttf');
}

.github-search {
    font-family: 'Monaco';
    color: #000000;
}

.github-search .text-style-1 {
    font-family: Raleway;
    font-weight: 200;
    font-style: italic;
}

@media (max-width: 700px){
    .github-search {
        font-family: 'Monaco';
        font-size: 4rem;
        color: #000000;
        margin-right: 2rem;
    }
    
    .github-search .text-style-1 {
        font-family: Raleway;
        font-weight: 200;
        font-style: italic;
    }


}