#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 67.5rem;
    height: 4.6rem;
    background-color: var(--white);
}

button {
    width: 10rem;
    height: 5.2rem;
    border-radius: 2px;
    border: none;
    background-color: var(--color-purple);
}