#page-search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 5rem 2rem;
}

#search-text-container {
    font-size: 4.2rem;
}