#page-search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#search-text-container {
    font-size: 4.2rem;
    margin: 2rem;
}

.search-input {
    width: 68rem;
    height: 5rem;
    background-color: var(--white);
}

button {
    width: 10rem;
    height: 5.6rem;
    border-radius: 2px;
    border: none;
    background-color: var(--color-purple);
}