#user-informations {
    display: flex;
    flex-direction: column;
}

#user-avatar {
    width: 30rem;
    height: 30rem;
}

#user-name {
    font-size: 3.65rem;
    font-weight: 300;
}

#user-login {
    font-size: 2.1rem;
    color: var(--color-gray);
    font-weight: 300;
    padding-bottom: 2rem;
}